@use '../abstracts/mixins';

.dropdown {
  position: absolute;
  left: 0;
  display: none;
  width: min(1240px, 100%);
  padding-top: 44px;
  &__inner {
    --inner-padding: 30px;
    position: relative;
    padding: var(--inner-padding);
    border-radius: 20px;
    background: var(--dropdown-bg-color);
    box-shadow: 0 40px 90px 20px var(--dropdown-shadow-color);
    &::before {
      content: url('../icons/dropdown-arrow.svg');
      position: absolute;
      top: -13px;
      left: var(--arrow-left-pos);
      translate: -50%;
      filter: var(--dropdown-arrow-color);
    }
  }
}

.top-menu {
  --main-columm-width: 292px;
  --inner-max-height: calc(min(582px, 100vh - 138px) - var(--inner-padding) * 2);
  position: relative;
  &__main {
    width: var(--main-columm-width);
    max-height: var(--inner-max-height);
    border-right: 1px solid var(--top-menu-border-color);
    overflow-y: auto;
  }
}

.menu-column {
  display: flex;
  gap: 14px;
  + .menu-column {
    margin-top: 23px;
  }
  &__icon {
    position: relative;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
  }
  &__icon-shape {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
  &__icon-item {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  &__content {
    flex: 1;
  }
  &__heading {
    margin-top: 6px;
    font-weight: 500;
    line-height: 1.5;
    @include mixins.screen(xl) {
      margin-top: 0;
    }
    @include mixins.screen(lg) {
      margin-top: 6px;
    }
  }
  &__list {
    margin-top: 19px;
  }
  &__item--active > &__link,
  &__item:hover > &__link {
    color: #0071dc;
    font-weight: 500;
  }
  &__item--active .sub-menu {
    display: grid;
  }
  &__link {
    display: block;
    padding-block: 7px;
    font-size: 1.4rem;
    line-height: calc(2 / 1.4);
  }
}

.sub-menu {
  position: absolute;
  inset: 0 0 0 var(--main-columm-width);
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--inner-padding);
  padding-left: var(--inner-padding);
  overflow-y: auto;
  &--not-main {
    position: static;
    inset: unset;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-height: var(--inner-max-height);
    padding-left: 0;
  }
}
